{% extends "base.html" %}
{% block content %}
<form class="login-form" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="form-container">
        <div class="form-group row">
            <label for="id_username">Vartotojas:</label>
            <div>{{ form.username }}</div>
        </div>
        <div class="form-group row">
            <label for="id_password">Slaptažodis:</label>
            <div>{{ form.password }}</div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Login</button>
            <a class="btn btn-secondary" href="{% url 'register-url' %}">Register</a>
        </div>
        <p><a href="{% url 'password_reset' %}">Pamišote slaptažodį?</a></p>
    </div>

</form>
{% endblock %}