{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-4">
    <div class="d-flex flex-column gap-3">
        {% if qs %}
        {% for invite in qs %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="d-flex g-0">
                <div class="col-md-6">
                    <img src="{{ invite.sender.profile_pic.url }}" alt="profile_pic" height="200px" width="200px">
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="color:black;">
                        <h5 class="card-title">{{ invite.sender }}</h5>
                        <p class="card-text">Friends count: {{ invite.sender.get_friends_count }}</p>
                        <p class="card-text">Post count: {{ invite.sender.get_posts_count}}</p>
                        <a href="{% url 'profile' invite.sender.id %}" class="btn btn-primary btn-sm">See profile</a>
                        <form method="post" action="{% url 'accept_invitation' %}">
                            {% csrf_token %}
                            <input type="hidden" name="relationship_id" value="{{ invite.id }}">
                            <button class="btn btn-primary btn-sm" type="submit">Accept Friend Request</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No friend invitations received..</p>
        {% endif %}
    </div>
</div>


{% endblock %}