{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="container pt-2 pr-3">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 30px;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="modal-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mt-4">Edit Profile</legend>
                        {{ p_form | crispy }}
                        {{ u_form | crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info">Edit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<h1>{{ profile.display_name }} profile</h1>
<hr>
<div class="d-flex">
    <img src="{{ profile.profile_pic.url }}" alt="profile_pic" class="myprofile-pic mr-5">
    <div class="profile-info">
        <h3>{{ profile.display_name }}</h3>
        <p>{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
        <button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">
            Edit Profile
        </button>
    </div>
</div>
<p>Profile views: {{ profile.profile_views }}</p>
<p>Number of posts: {{ profile.get_posts_count }}</p>
<p>Friends count: {{ profile.get_friends_count }}</p>
<p>Friends:</p>
{% if friends_preview %}
<ul>
    {% for friend in friends_preview %}
    <li>
        <a href="{% url 'profile' friend.profile.id %}" class="page-content-a">
            <div>
                <img src="{{ friend.profile.profile_pic.url }}" alt="profile_pic" height="50px" width="50px">
                {{ friend.profile.display_name }}
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'friends' profile.id %}" class="page-content-a">Click to see all friend list</a>
{% else %}
<p>You have no friends yet..</p>
{% endif %}


{% endblock %}