{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="container pt-2 pr-3">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 30px;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="modal-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mt-4">Edit Profile</legend>
                        {{ p_form | crispy }}
                        {{ u_form | crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info">Edit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="text-center mb-5">
        <h1>{{ profile.display_name }}'s Profile</h1>
    </div>

    <div class="d-flex justify-content-center mb-3">
        <div class="text-center">
            <img src="{{ profile.profile_pic.url }}" alt="profile_pic" class="img-fluid" style="width: 150px; height: 150px;">
            <h3>{{ profile.display_name }}</h3>
            <p>{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Edit Profile
            </button>
        </div>
    </div>

    <div class="mb-3 d-flex gap-2">
        <div class="counter">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Profile Views</div>
                <div class="card-body">
                    <h5 class="card-title">{{ profile.profile_views }}</h5>
                </div>
            </div>
        </div>

        <div class="counter ml-2">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Posts</div>
                <div class="card-body">
                    <h5 class="card-title">{{ profile.get_posts_count }}</h5>
                </div>
            </div>
        </div>

        <div class="counter ml-2">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Friends</div>
                <div class="card-body">
                    <h5 class="card-title">{{ profile.get_friends_count }}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-5">
        <h3>Friends:</h3>
        {% if friends_preview %}
            <div class="list-group">
                {% for friend in friends_preview %}
                    <a href="{% url 'profile' friend.profile.id %}" class="list-group-item list-group-item-action d-flex align-items-center">
                        <img src="{{ friend.profile.profile_pic.url }}" alt="profile_pic" style="width: 50px; height: 50px; margin-right: 15px;">
                        <span>{{ friend.profile.display_name }}</span>
                    </a>
                {% endfor %}
            </div>
            <div class="text-center mt-3">
                <a href="{% url 'friends' profile.id %}" class="btn btn-secondary">View All Friends</a>
            </div>
        {% else %}
            <p>No friends to display...</p>
        {% endif %}
    </div>
</div>


{% endblock %}