{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="container pt-2 pr-3">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 30px;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="modal-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mt-4">Create a Post</legend>
                        {{ form | crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info">Post</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% if post_list.all %}
<div class="wrapper-posts">
    {% if user.is_authenticated %}
    <div class="modal-trigger-container">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Create a Post
        </button>
    </div>
    {% endif %}
    {% for post in post_list %}
    <div class="postCardWrapper">
        <div class="postContainer">
            <a class="post-a" href="{% url 'profile' post.profile.id %}">
                <small>
                    <img src="{{ post.profile.profile_pic.url }}" alt="profile_pic" height="30px" width="30px">
                    <i><b>{{ post.profile }}</b></i>
                </small>
            </a>

            <small><i>{{ post.format_date }}</i></small>
        </div>
        <p>{{ post.post }}</p>
        {% if post.img %}
        <div class="img-container">
            <img src="{{ post.img.url }}">
        </div>
        {% endif %}
        <div class="d-flex">
            <span id="like-count-{{ post.id }}">{{ post.liked.all.count }} Likes</span>
            <button type="button" class="like-button react-button" data-post-id="{{ post.id }}"
                    data-liked="{% if user.profile in post.liked.all %}true{% else %}false{% endif %}">
                {% if user.profile not in post.liked.all %}
                <i class="fa-regular fa-thumbs-up"></i>
                {% else %}
                <i class="fa-solid fa-thumbs-up"></i>
                {% endif %}
            </button>
        </div>
        <a href="{% url 'post_detail' post.id %}" class="post-a"><i class="fa-solid fa-comment"></i>
            {{ post.postcomment_set.count }} comments</a>
    </div>
    {% endfor %}
</div>
{% else %}
<p>There are no posts yet..</p>
{% endif %}

<script>
    $(document).ready(function() {
        $('.like-button').click(function() {
            const postId = $(this).data('post-id');
            const likeButton = $(this);

            $.ajax({
                url: "{% url 'liked' %}",
                type: 'POST',
                data: {
                    'post_id': postId,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },

                success: function(data) {
                    if (data.liked) {
                        likeButton.html('<i class="fa-solid fa-thumbs-up"></i>'); // Change to liked icon
                    } else {
                        likeButton.html('<i class="fa-regular fa-thumbs-up"></i>'); // Change to unliked icon
                    }
                    $('#like-count-' + postId).text(data.like_count + ' Likes');
                },
                error: function(xhr, errmsg, err) {
                    console.error('AJAX error in request: ' + errmsg);
                }
            });
        });
    });
</script>
{% endblock %}
