{% extends "base.html" %}

{% block content %}


<h1>{{ profile.display_name }} profile</h1>
<hr>
<div class="d-flex">
    <img src="{{ profile.profile_pic.url }}" alt="profile_pic" class="myprofile-pic mr-5">
    <div class="profile-info">
        <h3>{{ profile.display_name }}</h3>
        <p>{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
        {% if profile not in user.friends.all %}
        {% if profile not in request.user.profile.friends.all and not existing_relationship %}
        <form method="post" action="{% url 'invite' %}">
            {% csrf_token %}
            <input type="hidden" name="profile_id" value="{{ profile.id }}">
            <button class="btn btn-primary btn-sm" type="submit">Invite to friends</button>
        </form>
        {% endif %}
        {% endif %}
    </div>
</div>
<p>Profile views: {{ profile.profile_views }}</p>
<p>Number of posts: {{ profile.get_posts_count }}</p>
<p>Friends count: {{ profile.get_friends_count }}</p>
<p>Friends:</p>
<ul>
    {% for friend in friends_preview %}
    <li>
        <a href="{% url 'profile' friend.profile.id %}" class="page-content-a">
            <div>
                <img src="{{ friend.profile.profile_pic.url }}" alt="profile_pic" height="50px" width="50px">
                {{ friend.profile.display_name }}
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'friends' profile.id %}" class="page-content-a">Click to see all friend list</a>


{% endblock %}